<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/style.css" />
    <title>Global Restoration Monitor API</title>
</head>

<body>
    <!-- <h1>Global Restoration Monitor API 1.0</h1> -->

    <div class="banner"><img src="../static/images/GRM.png" alt="" /></div>

    <h2>API Endpoints</h2>
    <div class="endpoints">
        <div class="endpoint-box">
            <a href="https://grm-api-v1.herokuapp.com/projects" target="_blank">
                <div class="endpoint-header">Retrieve all projects</div>
                <hr />
                <div><code>GET /projects</code></div>
            </a>
        </div>
        <div class="endpoint-box">
            <a href="https://grm-api-v1.herokuapp.com/projects?id=1" target="_blank">
                <div class="endpoint-header">Retrieve a project</div>
                <hr />
                <div><code>GET /projects?id=1</code></div>
            </a>
        </div>
        <div class="endpoint-box">
            <a href="https://grm-api-v1.herokuapp.com/projects/add" target="_blank">
                <div class="endpoint-header">Create a project</div>
                <hr />
                <div><code>POST /projects/add</code></div>
            </a>
        </div>
        <div class="endpoint-box">
            <a href="https://grm-api-v1.herokuapp.com/projects/query?Nation=Ethiopia&Organisation=CRS&Donor_Principal=EU" target="_blank">
                <div class="endpoint-header">Filter projects</div>
                <hr />
                <div>
                    <code>GET /projects/query</code>
                </div>
            </a>
        </div>
    </div>

    <h2>
        <a href="https://grm-api-testing.stoplight.io/docs/grm-api-v1-0/" target="_blank">API Documentation</a
      >
    </h2>
    <li></li>
  </body>
</html>